h1 {
    text-align: center;
    font-size: 10rem;
    margin: 0;
}

button {
    height: 100px;
    width: 150px;
    font-size: 5rem;
}

h2 {
    font-size: 5rem;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}